In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

In [2]:
dataset = pd.read_csv('binary_log.csv')

In [3]:
dataset

      SAT Admitted  Gender
0    1363       No    Male
1    1792      Yes  Female
2    1954      Yes  Female
3    1653       No    Male
4    1593       No    Male
..    ...      ...     ...
163  1722      Yes  Female
164  1750      Yes    Male
165  1555       No    Male
166  1524       No    Male
167  1461       No    Male

[168 rows x 3 columns]

In [4]:
dataset['Gender'] = dataset['Gender'].map({'Male':0,'Female':1})

In [5]:
dataset

      SAT Admitted  Gender
0    1363       No       0
1    1792      Yes       1
2    1954      Yes       1
3    1653       No       0
4    1593       No       0
..    ...      ...     ...
163  1722      Yes       1
164  1750      Yes       0
165  1555       No       0
166  1524       No       0
167  1461       No       0

[168 rows x 3 columns]

In [6]:
X = dataset.iloc[:,[0]].values

In [7]:
X

array([[1363],
       [1792],
       [1954],
       [1653],
       [1593],
       [1755],
       [1775],
       [1887],
       [1893],
       [1580],
       [1857],
       [1880],
       [1664],
       [1364],
       [1693],
       [1850],
       [1633],
       [1634],
       [1636],
       [1855],
       [1987],
       [1997],
       [1422],
       [1508],
       [1720],
       [1879],
       [1634],
       [1802],
       [1849],
       [1764],
       [1460],
       [1675],
       [1656],
       [2020],
       [1850],
       [1865],
       [1664],
       [1872],
       [1654],
       [1393],
       [1587],
       [1631],
       [1931],
       [1370],
       [1810],
       [1414],
       [1761],
       [1477],
       [1486],
       [1561],
       [1549],
       [2050],
       [1697],
       [1543],
       [1934],
       [1385],
       [1670],
       [1735],
       [1634],
       [1777],
       [1550],
       [1715],
       [1925],
       [1842],
       [1786],
       [1435],
       [1387],
       [1521],
       [1975],
       [1435],
       [1714],
       [1634],
       [1464],
       [1794],
       [1855],
       [1953],
       [1469],
       [1663],
       [1907],
       [1990],
       [1542],
       [1808],
       [1966],
       [1679],
       [2021],
       [2015],
       [1473],
       [1979],
       [1787],
       [1687],
       [1674],
       [1478],
       [1735],
       [1720],
       [1494],
       [1964],
       [1843],
       [1550],
       [1764],
       [1712],
       [1775],
       [1531],
       [1781],
       [1579],
       [1526],
       [1778],
       [1769],
       [1824],
       [1481],
       [1464],
       [1591],
       [1666],
       [1455],
       [1934],
       [1625],
       [1334],
       [1721],
       [1475],
       [1662],
       [1861],
       [1936],
       [1572],
       [1508],
       [1430],
       [1891],
       [1550],
       [1741],
       [1690],
       [1687],
       [1730],
       [1674],
       [1475],
       [1962],
       [1532],
       [1492],
       [1502],
       [1974],
       [1607],
       [1412],
       [1557],
       [1821],
       [1760],
       [1685],
       [1773],
       [1826],
       [1565],
       [1510],
       [1374],
       [1402],
       [1702],
       [1956],
       [1933],
       [1832],
       [1893],
       [1831],
       [1487],
       [2041],
       [1850],
       [1555],
       [2020],
       [1593],
       [1934],
       [1808],
       [1722],
       [1750],
       [1555],
       [1524],
       [1461]], dtype=int64)

In [8]:
X.shape

(168, 1)

In [9]:
dataset['Admitted'] = dataset['Admitted'].map({'No':0,'Yes':1})

In [10]:
dataset

      SAT  Admitted  Gender
0    1363         0       0
1    1792         1       1
2    1954         1       1
3    1653         0       0
4    1593         0       0
..    ...       ...     ...
163  1722         1       1
164  1750         1       0
165  1555         0       0
166  1524         0       0
167  1461         0       0

[168 rows x 3 columns]

In [11]:
y = dataset.iloc[:,[1]].values

In [12]:
y

array([[0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0]], dtype=int64)

In [13]:
y.shape

(168, 1)

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
model = LogisticRegression()

In [16]:
model.fit(X,y)

C:\ProgramData\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [17]:
LogisticRegression()

LogisticRegression()

In [18]:
dataset1 = pd.read_csv('binary_test.csv')

In [19]:
dataset1

     SAT Admitted  Gender
0   1323       No    Male
1   1725      Yes  Female
2   1762      Yes  Female
3   1777      Yes    Male
4   1665       No    Male
5   1556      Yes  Female
6   1731      Yes  Female
7   1809      Yes  Female
8   1930      Yes  Female
9   1708      Yes    Male
10  1970      Yes  Female
11  2039      Yes  Female
12  1681      Yes  Female
13  1444       No    Male
14  1726       No    Male
15  1876      Yes  Female
16  1485       No    Male
17  1500       No  Female
18  1900      Yes    Male

In [20]:
dataset1['Admitted'] = dataset1['Admitted'].map({'Yes':1,'No':0})

In [21]:
dataset1

     SAT  Admitted  Gender
0   1323         0    Male
1   1725         1  Female
2   1762         1  Female
3   1777         1    Male
4   1665         0    Male
5   1556         1  Female
6   1731         1  Female
7   1809         1  Female
8   1930         1  Female
9   1708         1    Male
10  1970         1  Female
11  2039         1  Female
12  1681         1  Female
13  1444         0    Male
14  1726         0    Male
15  1876         1  Female
16  1485         0    Male
17  1500         0  Female
18  1900         1    Male

In [22]:
dataset1['Gender'] = dataset1['Gender'].map({'Male':0,'Female':1})

In [23]:
dataset1

     SAT  Admitted  Gender
0   1323         0       0
1   1725         1       1
2   1762         1       1
3   1777         1       0
4   1665         0       0
5   1556         1       1
6   1731         1       1
7   1809         1       1
8   1930         1       1
9   1708         1       0
10  1970         1       1
11  2039         1       1
12  1681         1       1
13  1444         0       0
14  1726         0       0
15  1876         1       1
16  1485         0       0
17  1500         0       1
18  1900         1       0

In [24]:
X_test = dataset.iloc[:,[0]].values

In [25]:
X_test

array([[1363],
       [1792],
       [1954],
       [1653],
       [1593],
       [1755],
       [1775],
       [1887],
       [1893],
       [1580],
       [1857],
       [1880],
       [1664],
       [1364],
       [1693],
       [1850],
       [1633],
       [1634],
       [1636],
       [1855],
       [1987],
       [1997],
       [1422],
       [1508],
       [1720],
       [1879],
       [1634],
       [1802],
       [1849],
       [1764],
       [1460],
       [1675],
       [1656],
       [2020],
       [1850],
       [1865],
       [1664],
       [1872],
       [1654],
       [1393],
       [1587],
       [1631],
       [1931],
       [1370],
       [1810],
       [1414],
       [1761],
       [1477],
       [1486],
       [1561],
       [1549],
       [2050],
       [1697],
       [1543],
       [1934],
       [1385],
       [1670],
       [1735],
       [1634],
       [1777],
       [1550],
       [1715],
       [1925],
       [1842],
       [1786],
       [1435],
       [1387],
       [1521],
       [1975],
       [1435],
       [1714],
       [1634],
       [1464],
       [1794],
       [1855],
       [1953],
       [1469],
       [1663],
       [1907],
       [1990],
       [1542],
       [1808],
       [1966],
       [1679],
       [2021],
       [2015],
       [1473],
       [1979],
       [1787],
       [1687],
       [1674],
       [1478],
       [1735],
       [1720],
       [1494],
       [1964],
       [1843],
       [1550],
       [1764],
       [1712],
       [1775],
       [1531],
       [1781],
       [1579],
       [1526],
       [1778],
       [1769],
       [1824],
       [1481],
       [1464],
       [1591],
       [1666],
       [1455],
       [1934],
       [1625],
       [1334],
       [1721],
       [1475],
       [1662],
       [1861],
       [1936],
       [1572],
       [1508],
       [1430],
       [1891],
       [1550],
       [1741],
       [1690],
       [1687],
       [1730],
       [1674],
       [1475],
       [1962],
       [1532],
       [1492],
       [1502],
       [1974],
       [1607],
       [1412],
       [1557],
       [1821],
       [1760],
       [1685],
       [1773],
       [1826],
       [1565],
       [1510],
       [1374],
       [1402],
       [1702],
       [1956],
       [1933],
       [1832],
       [1893],
       [1831],
       [1487],
       [2041],
       [1850],
       [1555],
       [2020],
       [1593],
       [1934],
       [1808],
       [1722],
       [1750],
       [1555],
       [1524],
       [1461]], dtype=int64)

In [26]:
y_test = dataset.iloc[:,[1]].values

In [27]:
y_test

array([[0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0]], dtype=int64)

In [28]:
y_pred = model.predict(X_test)

In [29]:
y_pred

array([0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0], dtype=int64)

In [30]:
y_test

array([[0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0]], dtype=int64)

In [31]:
from sklearn.metrics import confusion_matrix, classification_report

In [32]:
print(confusion_matrix(y_test,y_pred))

[[67  7]
 [ 7 87]]

In [33]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.91      0.91      0.91        74
           1       0.93      0.93      0.93        94

    accuracy                           0.92       168
   macro avg       0.92      0.92      0.92       168
weighted avg       0.92      0.92      0.92       168